body {
    background-color: black;
}
.navbar{
    margin: 1rem;
    padding: 20px;
    font-family: monospace;
    font-size: 20px;
    text-align: right;
    background-color: rgb(31, 246, 178); 
    box-sizing: border-box;
}
.phone-banner {
  text-align: left;
  font-family: fantasy;
  font-size: 20px;
  background-color:  black; 
  width: 50%;
  color: white;
  margin: 1rem; 
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: lightgray;
}
.main-container{
    margin: 1rem;
    background-color: black;
    color: white;   
    text-align: center;
}
img {
    margin: 1rem;
    width: 95vw;
    height: auto;
}
.map{
   text-align: center;
}
.footer {
    background-color: rgba(135, 126, 126, 0.919);
    border-top: 2px solid rgb(31, 246, 178);  
    /* ewentualnie do zmiany margin-top, jak przyjdzie w to miejsce logo firmowe */
    margin-top:10%;
    padding-left: 10%;
    padding-top: 0.5%;
    padding-bottom:0.5%;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}
.footer-menu {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background-color:  rgb(31, 246, 178); 
}
